.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 555px;
}

.u-section-1 .u-slider-1 {
  width: 494px;
  min-height: 500px;
  margin: 0 646px 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -20px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/first.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 440px;
}

.u-section-1 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-1 .u-text-1 {
  margin: -438px 147px 0 570px;
}

.u-section-1 .u-text-2 {
  font-size: 3.4375rem;
  font-weight: 700;
  margin: 53px 0 0 570px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 33px auto -71px 570px;
  padding: 18px 36px 19px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
    margin-right: 446px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 47px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    margin-right: 226px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    margin-right: 46px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 117px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 117px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 176px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.3125rem;
  margin: 20px auto -211px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 760px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 40px 256px 0 273px;
}

.u-section-3 .u-group-1 {
  width: 704px;
  min-height: 146px;
  margin: 51px auto 0 27px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 22px auto 0 38px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -85px 22px 0 160px;
}

.u-section-3 .u-group-2 {
  width: 704px;
  min-height: 146px;
  margin: 51px 14px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: 22px auto 0 38px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -103px 20px 0 162px;
}

.u-section-3 .u-group-3 {
  width: 704px;
  min-height: 146px;
  margin: 51px auto -28px 27px;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-image-3 {
  width: 100px;
  height: 100px;
  margin: 22px auto 0 38px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -67px 25px 0 157px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 273px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    font-weight: 400;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-3 {
    font-weight: 400;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-4 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 209px;
    margin-right: 209px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 16px;
  }

  .u-section-3 .u-group-3 {
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 157px;
    margin-right: 157px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 99px;
    margin-right: 99px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1280px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-4 .u-products-1 {
  height: auto;
  margin: 39px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 1028px;
}

.u-section-4 .u-container-layout-1 {
  padding: 26px 8px;
}

.u-section-4 .u-image-1 {
  height: 308px;
  width: 320px;
  margin: 24px auto 0;
}

.u-section-4 .u-group-1 {
  width: 273px;
  min-height: 190px;
  background-size: auto;
  height: auto;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 400;
  width: 149px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 8px 15px 0;
}

.u-section-4 .u-text-6 {
  margin: 10px 27px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 26px 8px;
}

.u-section-4 .u-image-2 {
  height: 308px;
  width: 320px;
  margin: 24px auto 0;
}

.u-section-4 .u-group-2 {
  width: 273px;
  min-height: 190px;
  background-size: auto;
  height: auto;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  width: 149px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 8px 15px 0;
}

.u-section-4 .u-text-10 {
  margin: 10px 27px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 26px 8px;
}

.u-section-4 .u-image-3 {
  height: 308px;
  width: 320px;
  margin: 24px auto 0;
}

.u-section-4 .u-group-3 {
  width: 273px;
  min-height: 190px;
  background-size: auto;
  height: auto;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-11 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  width: 149px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-13 {
  margin: 8px 15px 0;
}

.u-section-4 .u-text-14 {
  margin: 10px 27px 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 26px 8px;
}

.u-section-4 .u-image-4 {
  height: 308px;
  width: 320px;
  margin: 24px auto 0;
}

.u-section-4 .u-group-4 {
  width: 273px;
  min-height: 190px;
  background-size: auto;
  height: auto;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-15 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-16 {
  font-weight: 400;
  width: 149px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-17 {
  margin: 8px 15px 0;
}

.u-section-4 .u-text-18 {
  margin: 10px 27px 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 26px 8px;
}

.u-section-4 .u-image-5 {
  height: 308px;
  width: 320px;
  margin: 24px auto 0;
}

.u-section-4 .u-group-5 {
  width: 273px;
  min-height: 190px;
  background-size: auto;
  height: auto;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-19 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-20 {
  font-weight: 400;
  width: 149px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-21 {
  margin: 8px 15px 0;
}

.u-section-4 .u-text-22 {
  margin: 10px 27px 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 26px 8px;
}

.u-section-4 .u-image-6 {
  height: 308px;
  width: 320px;
  margin: 24px auto 0;
}

.u-section-4 .u-group-6 {
  width: 273px;
  min-height: 190px;
  background-size: auto;
  height: auto;
  margin: 20px auto 0;
}

.u-section-4 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-23 {
  font-weight: 400;
  margin: 20px auto 0;
}

.u-section-4 .u-text-24 {
  font-weight: 400;
  width: 149px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-25 {
  margin: 8px 15px 0;
}

.u-section-4 .u-text-26 {
  margin: 10px 27px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-4 .u-products-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    width: 213px;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 20px 15px;
  }

  .u-section-4 .u-group-2 {
    width: 213px;
    height: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding: 20px 15px;
  }

  .u-section-4 .u-group-3 {
    width: 213px;
    height: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding: 20px 15px;
  }

  .u-section-4 .u-group-4 {
    width: 213px;
    height: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding: 20px 15px;
  }

  .u-section-4 .u-group-5 {
    width: 213px;
    height: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding: 20px 15px;
  }

  .u-section-4 .u-group-6 {
    width: 213px;
    height: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding: 20px 15px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-4 .u-group-1 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-4 .u-group-2 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-4 .u-group-3 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-4 .u-group-4 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-4 .u-group-5 {
    width: 227px;
    margin-right: 30px;
  }

  .u-section-4 .u-group-6 {
    width: 227px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-1 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-2 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-3 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-4 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-5 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-group-6 {
    width: 386px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-group-1 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-4 .u-group-2 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-4 .u-group-3 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-4 .u-group-4 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-4 .u-group-5 {
    width: 275px;
    margin-top: -53px;
  }

  .u-section-4 .u-group-6 {
    width: 275px;
    margin-top: -53px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 173px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 72px 487px 0 30px;
}

.u-section-5 .u-form-1 {
  height: 81px;
  margin: -52px 23px 47px 653px;
}

.u-section-5 .u-input-1 {
  font-weight: 700;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 317px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
    margin-left: 476px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 97px;
  }

  .u-section-5 .u-form-1 {
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-form-1 {
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 583px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 739px;
  margin: 50px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  width: 739px;
  font-weight: normal;
  margin: 7px auto 0;
}

.u-section-6 .u-group-1 {
  width: 301px;
  min-height: 225px;
  margin: 91px auto 0 40px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 199px;
  margin: 41px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0;
}

.u-section-6 .u-group-2 {
  width: 301px;
  min-height: 225px;
  margin: -225px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 199px;
  margin: 41px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0;
}

.u-section-6 .u-group-3 {
  width: 301px;
  min-height: 224px;
  margin: -225px 41px 60px auto;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 41px 31px 0 51px;
}

.u-section-6 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(255,255,255,1);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px auto 0;
}

.u-section-6 .u-line-1 {
  top: 532px;
  transform-origin: left center 0px;
  position: absolute;
  width: 881px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-3 {
    font-weight: 400;
  }

  .u-section-6 .u-text-4 {
    width: 199px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-5 {
    font-weight: 400;
  }

  .u-section-6 .u-text-6 {
    width: 199px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-6 .u-text-7 {
    font-weight: 400;
    width: 199px;
  }

  .u-section-6 .u-text-8 {
    width: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-group-1 {
    margin-left: 39px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-group-3 {
    margin-right: 39px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 602px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 739px;
  margin: 36px auto 0;
}

.u-section-7 .u-shape-1 {
  width: 420px;
  height: 68px;
  background-image: none;
  margin: 93px auto 0 131px;
}

.u-section-7 .u-shape-2 {
  width: 695px;
  height: 98px;
  background-image: none;
  margin: -83px auto 0 314px;
}

.u-section-7 .u-text-2 {
  font-weight: normal;
  margin: -69px 850px 0 175px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: -39px 209px 0 438px;
}

.u-section-7 .u-shape-3 {
  width: 329px;
  height: 68px;
  background-image: none;
  margin: 85px auto 0 131px;
}

.u-section-7 .u-shape-4 {
  width: 695px;
  height: 98px;
  background-image: none;
  margin: -83px auto 0 314px;
}

.u-section-7 .u-text-4 {
  font-weight: normal;
  font-size: 1.875rem;
  margin: -66px 829px 0 154px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -57px 159px 0 343px;
}

.u-section-7 .u-shape-5 {
  width: 420px;
  height: 68px;
  background-image: none;
  margin: 56px auto 0 131px;
}

.u-section-7 .u-shape-6 {
  width: 695px;
  height: 98px;
  background-image: none;
  margin: -73px auto 0 314px;
}

.u-section-7 .u-text-6 {
  font-size: 1.5625rem;
  font-weight: 700;
  margin: -86px 829px 0 148px;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: -47px 151px -20px 335px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-2 {
    margin-left: 245px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 701px;
    margin-left: 75px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 201px;
  }

  .u-section-7 .u-shape-4 {
    margin-left: 245px;
  }

  .u-section-7 .u-text-4 {
    font-weight: 700;
    margin-right: 684px;
    margin-left: 54px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -65px;
    margin-left: 243px;
  }

  .u-section-7 .u-shape-5 {
    margin-top: 64px;
  }

  .u-section-7 .u-shape-6 {
    margin-left: 245px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 684px;
    margin-left: 48px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 235px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: 720px;
  }

  .u-section-7 .u-shape-2 {
    margin-left: 25px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 537px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-shape-4 {
    margin-left: 25px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-left: 82px;
  }

  .u-section-7 .u-shape-5 {
    margin-top: 20px;
  }

  .u-section-7 .u-shape-6 {
    margin-left: 25px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-left: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: 120px;
  }

  .u-section-7 .u-shape-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 403px;
  }

  .u-section-7 .u-shape-4 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 393px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
  }

  .u-section-7 .u-shape-5 {
    margin-left: 120px;
  }

  .u-section-7 .u-shape-6 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 393px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-7 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-2 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 254px;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-shape-3 {
    margin-left: 11px;
  }

  .u-section-7 .u-shape-4 {
    width: 340px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 247px;
  }

  .u-section-7 .u-text-5 {
    margin-top: -67px;
    margin-right: 100px;
  }

  .u-section-7 .u-shape-5 {
    width: 340px;
    margin-top: -2px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-6 {
    width: 340px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 247px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 95px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 173px;
}

.u-section-8 .u-text-1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 71px 486px 0 30px;
}

.u-section-8 .u-form-1 {
  height: 77px;
  margin: -49px 99px 48px 741px;
}

.u-section-8 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-block-8880-10 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 316px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 0;
    margin-left: 640px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 96px;
  }

  .u-section-8 .u-form-1 {
    margin-left: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    margin-left: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-form-1 {
    margin-left: 40px;
  }
}